<a href="https://colab.research.google.com/github/JoannaFano/PLNG211-2-OLFU-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Python?**

---
Python is a popular programming language created by Guido Van Rossum in 1991.

**Variable Naming Conventions**

* Must start with a letter or underscore.
* Cannot start with a number.
* Case sensitive: a and A is different.
* Can only include A-Z, 0-9, and _.


**Python Indentation**

Indentation refers to the spaces at the beginning of a code line

In [79]:
  if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

**Comment**

Used to explain Python code and make the code more readable

In [80]:
#This is a comment
print("Hello, world")

Hello, world

**Python Variable**

Variables are containers for storing data values

In [81]:
#Single Variable
a = 20

#Multiple Variable
b, c, d = 6, 11, 2002

#String type
e = "Joanna"  
f = "Marie"
g = "Fano"
h = "is"
i = "years old"
j = "and born in"
k = "/"

print("Name:", e, f, g)
print("Age:", a)
print("Birthday:", b, k, c, k, d)
print(e, f, g, h, a, i, j, b, k, c, k, d)

Name: Joanna Marie Fano
Age: 20
Birthday: 6 / 11 / 2002
Joanna Marie Fano is 20 years old and born in 6 / 11 / 2002

**Casting**

The data types of objects are converted using predefined functions by the user

In [82]:
a = float(5.1)
b = int(49)
c = str("Height (ft):")
d = str("Weight (kg):")

print(c, a)
print(d, b)

Height (ft): 5.1
Weight (kg): 49

**Type() Function**

Used to get the type of an object

In [83]:
a = "cat"
b = 12345
c = 99.99

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

**“Double quotes” or ‘Single’ quotes**

String variables can be declared either by using 
single or double quotes:

In [84]:
a = "dog"
b = 'dog'

print(a)
print(b)

dog
dog

**Case Sensitive**

It's the differentiation between lower- and uppercase letters

In [85]:
A = "cat"
a = "dog"

print(A)
print(a)

cat
dog

  **Multiple Variable**

You can assign multiple values to multiple variables by separating variables and values with commas

In [86]:
a, b, c = 1, 2, 3
d, e, g = "Joanna", "Marie", "Fano"

print(a, b, c)
print(d, e, g)

1 2 3
Joanna Marie Fano

**Single Value to Multiple Variables**

You can assign the same value to multiple variables

In [87]:
a = b = c = "python"

print(a)
print(b)
print(c)

python
python
python

**Output Variables**

The python print is used to output variables and + is used to combine both 
text and variable

In [88]:
a = "programming language"

print("Python is a popular " + a)

#Other way

a = "created by "
b = "Guido Van Rossum "
c = "in 1991."
d = a + b + c

print(d)

Python is a popular programming language
created by Guido Van Rossum in 1991.

**Arithmetic Operations**

There are 7 arithmetic operators in Python : Addition; Subtraction; Multiplication; Division; Modulus; Exponentiation; Floor division

In [89]:
#Given
a, b, c = 6, 11, 0

#Addition
c = a + b
print("1. a + b is", c)

1. a + b is 17

In [90]:
#Subraction
c = a - b
print("2. a - b is", c)

2. a - b is -5

In [91]:
#Multiplication
c = a * b
print("3. a * b is", c)

3. a * b is 66

In [92]:
#Division
c = a / b
print("4. a / b is", c)

4. a / b is 0.5454545454545454

In [93]:
#Modulus
c = a % b
print("5. a % b is", c)

5. a % b is 6

In [94]:
#Exponentiation
c = a ** b
print("6. a ** b is", c)

6. a ** b is 362797056

In [95]:
#Floor Division
c = a // b
print("7. a // b is", c)

7. a // b is 0

**Assignment Operators**

Used to assign values to variables

```
Operator           Example          Same as
   =	            x = 5	       x = 5	
   +=	           x += 3	      x = x + 3	
   -=	           x -= 3      	x = x - 3	
   *=	           x *= 3	      x = x * 3	
   /=	           x /= 3	      x = x / 3	
   %=	           x %= 3	      x = x % 3	
   //=	          x //= 3     	x = x // 3	
   **=          	x **= 3	     x = x ** 3	
   &=	           x &= 3	      x = x & 3	
   |=	           x |= 3	      x = x | 3	
   ^=	           x ^= 3	      x = x ^ 3	
   >>=	          x >>= 3     	x = x >> 3	
   <<=	          x <<= 3	     x = x << 3
```


**Comparison Operator**

Comparison operators are used to compare two values
```
Operator               Name               Example
   ==	              Equal	          x == y	
   !=	            Not equal	        x != y	
   >	            Greater than	      x > y	
   <	             Less than	        x < y	
   >=	     Greater than or equal to	x >= y	
   <=	       Less than or equal to	 x <= y
```

**Logical Operator**

Logical operators are used to combine conditional statements

```
Operator                          Description	                             Example
  and 	         Returns True if both statements are true	           x < 5 and  x < 10	
  or         	Returns True if one of the statements is true	          x < 5 or x < 4	
  not	   Reverse the result, returns False if the result is true      not(x < 5 and x < 10)
```

In [96]:
#AND operator
a, b, c = 1, 2, 3
a < b and b < c

True

In [97]:
#OR operator
a > b or a < c

True

In [98]:
#not operator
not(a < b and b < c)

False

**Identity Operator**

Used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location


```
Operator                         Description                         Example
   is 	   Returns true if both variables are the same object	   x is y	
 is not	Returns true if both variables are not the same object	x is not y
```

In [99]:
a, b, c = 1, 2, 1
print(a is b)
print(a is c)

False
True

In [100]:
print(a is not b)
print(a is not c)

True
False

**Bitwise Operator**
Used to compare (binary) numbers

```
Operator              Name	                         Description
   & 	             AND	                Sets each bit to 1 if both bits are 1
   |                  OR       	       Sets each bit to 1 if one of two bits is 1
   ^                  XOR	           Sets each bit to 1 if only one of two bits is 1
   ~                  NOT	                      Inverts all the bits
   <<         Zero fill left shift	 Shift left by pushing zeros in from the right and
                                               let the leftmost bits fall off
   >>	      Signed right shift	   Shift right by pushing copies of the leftmost bit
                                      in from the left, and let the rightmost bits fall off
```

In [101]:
x = 10
print(x<<2)

y = 2
print(y>>1)

40
1